on:
  issues:
    types: [labeled]
jobs:
  Move_Labeled_Issue_On_Project_Board:
    runs-on: ubuntu-latest
    steps:
    - uses: konradpabjan/move-labeled-or-milestoned-issue@v2.0
      with:
        action-token: "${{ secrets.MY_TOKEN }}"
        project-url: "https://github.com/zorkind/Hellion-Rescue-Project/projects/1"
        column-name: "Needs triage"
        label-name: "bug"
        columns-to-ignore: "In Review,Ready to deploy,Done"
